/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
	background-image: url("cork-wallet.png");
	margin: 0;
	height: 100%;
}

/*This 'header bar' is meant to be a position fixed bar that stays at the top 
of the page with my name, and links for navigation next to it using semantic 
elements. I am trying to use semantic elements as much as possible. 
This will have different layers, and the "headerBar" will go edge to edge.*/

.headerBar {
	background-color: #ffffff;	
	border-bottom: 3px solid #777777;
	margin: 0 auto;
	height: 90px;
	overflow: auto;
}


/*"narrowHeaderWrapper" is the container for containing the header and the nav 
tags in the 960px and centering it on the page.*/

.narrowHeaderWrapper	{
	margin: 0 auto;
	width: 960px;
	overflow: auto;
}

/*Formatting for the header on all pages, currently stating my name.*/
header {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	text-align: center;
	width: 275px;
	float: left;
	color: white;
	letter-spacing: 1px;
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*Style of the nav bar*/
nav {
	color: #777777;
	float: right;
	margin-top: 30px;
	word-spacing: 15px;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	}

/*Style of the links and text within the nav bar*/
a {
	text-decoration: none;
	color: #777777;
}

/*This class called "wrapper" is meant to wrap both the section element 
and the aside element, keeping the two columns centered in the page 
with margins between them. */

.wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	min-height: 100%;
}

/*Formatting for the section semantic element.*/
section {
	width: 620px;
	float: left;	
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;	
}

/*Formatting for the header within the section area. */
section h1 {
	border-bottom: 3px solid #777777;
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
	padding-top: 30px;	
	margin-bottom: 15px;
}

/*Below are all of the classes for the individual pictures on the
portfolio page.*/
.caboAdventure{
	background: url("cabo.jpg"); 
	float: left;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.tennisAction{
	background: url("dunlop.jpg");
	float: right;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.birthdays{
	background: url("eastley.jpg");
	float: left;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.babies{
	background: url("jackson.jpg");
	float: right;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.randomStills{
	background: url("stapler.jpg");
	float: left;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.foodie{
	background: url("tuna.jpg");
	float: right;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}

.waterShots{
	background: url("water.jpg");
	float: left;
	position: relative;
	background-size: cover;
	height: 206px;
	width: 275px;
	margin-top: 15px;
}


/*Formatting for the aside area, next to section.*/
aside {
	float: right;
	width: 240px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	padding-bottom: 15px;
}

/*This is the formatting for the aside header, currently including "connect with me"*/
aside h1 {
	border-bottom: 3px solid #777777;
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 30px;	
	margin-bottom: 15px;
}

/*This is the formatting for the logos in the aside section. */
aside a img {
	width: 30%;
}

/*This class contains the formatting for all text in any paragraphs*/
.pText {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 200%;
}

/*This is the formatting for all of the names over the pictures in the 
portfolio file.*/

#pictureTitles {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;	
	bottom: 10px;
	position: absolute;
	width: 100%;

}

/*This container is specifically for the headshot on the about me page*/

#imageFloat {
	float: left;
	margin-right: 10px;

}

.push {
	height: 155px;
	clear: left;
}

footer {
	background-color: #666666;
	clear: both;
	height: 100px;
	text-align: center;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	padding-top: 50px;
	border-top: 5px solid #4aaaa5;
}
